{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <center><div class="col-md-12">
                <h3 class="text-center">Có cái mật khẩu cũng quên. Nhập email bạn đăng ký tài khoản bên dưới và làm theo hướng dẫn để đặt lại mật khẩu nhe!</h3>
                <form method="post">
                    {% csrf_token %}
                    {{form}}
                    <input type="submit" name="Sent email" class="btn btn-success">
                </form>
            </div></center>
        </div>
    </div>
</body>
</html>