{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Done</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <center><div class="col-md-8">
                <h3 class="text-center">Mật khẩu đã được đặt lại</h3>
                <p class="text-center">Xong rồi đó, đã đổi mật khẩu. Giờ đi tới trang đăng nhập coi được chưa</p>
                <a href="{% url 'loginpage' %}">Login</a>
            </div></center>
        </div>
    </div>
</body>
</html>