{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Sent</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <center><div class="col-md-12">
                <h3>Tôi mới gửi cho bạn một cái mail để đặt lại mật khẩu. Vô mail kiểm tra đi, chờ gì nữa!!</h3>
                <p class="text-center">Nếu bạn không nhận được mail thì coi lại cái mail dùm, có thể mail bạn nhập không phải mail bạn đăng ký. Hoặc vào thư mục spam để kiểm tra coi có không nhe.</p>
            </div></center>
        </div>
    </div>
</body>
</html>