{% extends 'store/layouts/main.html' %}
{% block content %}
{% load humanize %}

    <div class="container my-5">
        <li style="list-style-type:none" class="nav-item dropdown">
            <h1 class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Analytics - Thống kê
        </h1>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'analyticsorderbymonth' %}">Analytics Order By Month</a></li>
              <li><a class="dropdown-item" href="{% url 'analyticstotalprice' %}">Analytics Total Price</a></li>
              <li><a class="dropdown-item" href="{% url 'analyticscountpro' %}">Analytics Quantity Product</a></li>
            </ul>
        </li>
        <hr>
        <br>
        <div class="row text-dark"> 
            <div class="col-md-6">
                <table class="table table-bordered text-center">
                    <tr class="bg-info">
                        <th>ID</th>
                        <th>Tên danh mục</th>
                        <th>Số lượng sản phẩm</th>
                    </tr>
                    {% for cate in category %}
                        {% for pro in productcount %}
                            {% if cate.id == pro.category %}
                                <tr>
                                    <td>{{ cate.id }}</td>
                                    <td>{{ cate.name }}</td>
                                    <td>{{ pro.count }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>  
            <div class="col-md-6">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
                <h3 class="text-center">Thống kê sản phẩm theo danh mục</h3>
            </div>
        </div>   
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
        const labels = {{ cate }};
        const data = {
            labels: labels,
            datasets: [{
                label: 'Product in category',
                backgroundColor: 'blue',
                borderColor: 'rgb(255, 99, 132)',
                data: {{ procount }},
            }]
        };
        const config = {
            type: 'bar',
            data: data,
            options: {}
        };
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
{% endblock content %}
